@media (min-width: 320px) {
	.wrap__headline {
		font-size: 15px;
	}
}

@media (min-width: 481px) {
	.wrap__headline {
		font-size: 20px;
	}
}

@media (min-width: 641px) {
	.wrap__headline {
		font-size: 30px;
	}
}

@media (min-width: 961px) {
	.wrap__headline {
		font-size: 35px;
	}
}

@media (min-width: 1025px) {
	.wrap__headline {
		font-size: 40px;
	}
}

@media (min-width: 1281px) {
	.wrap__headline {
		font-size: 50px;
	}
}